body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
}

.container {
  /* font-size: 28px; */
  /* color: #fff; */
  display: flex;
  width:100%;
  height:100%;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: #282c34; */
  /* background-image: url('./evotinghome.jpg'); */
  
}


.maps{
  background-image: url('./evotinghome.jpg'); 
  background-position: center center;
  position: absolute;
  z-index: -1;
  background-size: cover;
  height: 500px;
  margin-left:250px;
  margin-top:270px;
  width:72%;
}

.lg
{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  width: 22%;
  height: 20%;
  font-size: 25px;
  color: black;
  background-color: #2eca6a;
  margin-top: 8%;
  margin-bottom: 3%;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-weight: bold;
}

.log1{
  color: #2eca6a;
}

.logindetails, .logindetailsAdmin{
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top:25px;
  margin-top: 130px;
  width: 36%;
  height: 47%;
  position: absolute;
  margin-left:58%;
  margin-right:10%;
  z-index: 2;
  border-radius: 10px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  text-align: center;
  align-content: right;
  box-shadow:inset 0 0 8px 3px #2eca6a;
  color: black;
  font-weight: bold;
}

.logindetailsAdmin{
  height: 38%;
}


.inputFields {
 padding-top: 16px;
}
.pitchline{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: black;
  /* border-left: solid 2px; */
  background-color: white;
  margin: 0%;
  margin-top:50px;
  padding: 0%;
  padding-bottom: 20px;
}

#pitch
{
  box-shadow: inset 3px 0 0 0 #2eca6a;
  margin-top: 20px;
}
#Main
{
  font-size: 40px;
  font-weight: bold;
  padding-top:20px;
  color: black;
  /* border-left: solid 2px; */
  padding-left:20px;
}
#about
{
  font-size: 20px;
  padding-top:10px;
  padding-left:20px;
  color: black;
  /* border-left: solid 2px; */
}

.brand
{
  font-size: 25px;
  font-size: 40px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  float: left;
  margin-right:0px;
  margin-bottom: 20px;
  margin-top: 35px;
  padding-left:80px;
}



.colorb
{
  font-size: 25px;
  font-size: 40px;
  float:left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-right:0px;
  margin-bottom: 20px;
  margin-top: 35px;
  margin-right:20px;
  color: #2eca6a;
}

.row{
  width:100%;
  padding-left: 10%;
  align-items: center;

}
.phototext{
  text-emphasis-color:  rgb(19, 17, 17);
}
.navbar-nav
{
  width:100%;
  height: 100px;
  background-color: white;
  margin: 0;
  padding-bottom: 15px;
  margin-top:5px;
  margin-bottom: 5px;
}
.overlaying
{
  position: relative;
  margin-right: 30%;
  padding-top: 5%;
  z-index: 0;
  height: 40%;
  width: 60%;
}

.reg1
{
  padding-right: 10px;
  padding-left:585px;
  color: #2eca6a;
}

.nav-item{
  list-style: none;
  display:inline;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.nav-link
{
  font-size: 25px;
  float: left !important;;
  margin-right:20px;
  color: black;
  margin-top: 40px;
  padding: 5px;
}

#navg
{
  -webkit-box-shadow: 0 10px 3px -8px lightgray;
  -moz-box-shadow: 0 10px 3px -8px lightgray;
  box-shadow: 0 10px 3px -8px lightgray;
}

.submitButton {
 padding-top: 30px;
}

.qoute {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  background-color: #2eca6a;
  width: 400px;
  /* height: 140px; */
  margin-top:350px; 
  padding:20px;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-left: 150px;
}

.qoute p{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #565656;
}

/*  customer */

.reviews
{
  margin-top:50%;
  width: 98%;
}

.review
{
  padding-top:10%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  height: 8%;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.reviewtitle
{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 40px;
  border-left: solid 3px #2eca6a;
  padding-left: 10px;
}

.reviewtitle p
{
  font-size: 20px;
  padding-bottom: 15px;
  margin-top:5px;
}
.custname
{
  text-align: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background-color: #2eca6a;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 2px;
}

.customer
{
  border-top: solid 3px #2eca6a;
  border-left: solid 3px #2eca6a;
  border-radius: 10px;
  float:left;
  display:inline;
  width: 30%;
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom: 5%;
  padding: 2px;
  
}


.custphoto1, .custphoto2, .custphoto3
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40%;
  width: 96%;
  padding-left:4%;
  border-radius: 10px;
}

.custphoto1
{
  background-image: url('./cust1.jpg');
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 95%;
}

.custphoto2
{
  background-image: url('./cust2.jpg');
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 95%;
}

.custphoto3
{
  background-image: url('./cust3.jpg');
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 95%;
}

.stars
{
  height: 5%;
  margin-top: 2%;
  text-align: center;
  padding-top:5px;
}

.loginclass
{
  margin-top:4%;
  width: 10%;
  height: 15%;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding-left: 15px;
  padding-bottom: 0px;
  border: none;
  border-right: solid #2eca6a 3px;
  border-bottom: solid #2eca6a 3px;
  border-top: solid 3px lightgrey;
  border-left: solid 3px lightgrey;
}

#log{
  float: right;
}

.input
{
  margin-top:1%;
  width: 95%;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  border-right: solid #2eca6a 3px;
  border-bottom: solid #2eca6a 3px;
  border-top: solid 3px lightgrey;
  border-left: solid 3px lightgrey;
}

.btn
{
  font-size: 20px;
  min-width: 130px;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  height: 50px;
  font-size: 25px;
  color: black;
  background-color:#2eca6a;
  border: none;
  margin-top: 25px;
}

.btnreg{
  margin-top: 0px;
}

.reg3, .log3
{
  color: #2eca6a;
}

.reg, .log, .admin
{
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.user
{
  color: #2eca6a;
}

.admin{
  margin-left: 410px;
}

.uname, .welcome{
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  margin-top: 35px;
}

.welcome{
  margin-left: 590px;
  padding-right: 10px;
}

.vote{
  margin: 0px;
  margin-bottom: 20px;
  background-color: #A2D9CE;
}